@tailwind base;

@layer base {
  * {
    overflow-wrap: break-word;
    word-break: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    word-break: normal;
  }
}

@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  body {
    padding-top: 5rem;
  }
}

@layer utilities {
  .break-words {
    overflow-wrap: break-word;
    word-break: keep-all;
  }
}

::selection {
  background-color: #2563ff;
  color: #ffffff;
}
